* {
    margin: 0;
    padding: 0;
}

/* --------planet-name------- */
.planet-name {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: #fff;
    position: relative;
    background-image: url(/images/Desktop\ -\ Destination\ -\ A.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}

nav>.img1 {
    margin-left: 15px;
}

nav>.img2 {
    height: 1px;
    width: 40%;
    z-index: 3;
    margin-left: 96px;
    position: absolute;
    z-index: 5;
    background: #FFFFFF;
    opacity: 0.25px;
    gap: 0px;
}

.nav-links ul {
    display: flex;
}

.nav-links ul li {
    list-style: none;
    padding: 8px 12px;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-family: "Barlow Condensed", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    letter-spacing: 2.700000047683716px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.nav-links {
    background: #FFFFFF0A;
    backdrop-filter: blur(81.54845428466797px);
    padding: 20px 200px;
}


/* ----------------pick-destination------------- */

.pick-destination {
    position: absolute;
    margin-top: 2.5rem;
    margin-left: 7rem;
    font-size: 25px;
    font-family: "Barlow Condensed", serif;
}


.pick-destination>h4 {
    font-weight: 100;
}


.pick-destination>h4>span {
    padding: 10px;
    color: #D0D6F9;
}



/* ----------planet-------------------- */


.planet-related {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 9.25rem;
}

.planet-about>.planet-links>ul {
    display: flex;
}

.planet-about>.planet-links>ul>li {
    list-style: none;
    padding: 0 10px;
}

.planet-about>.planet-links>ul>li>a {
    text-decoration: none;
    color:#D0D6F9;
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 2.700000047683716px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    font-family: "Barlow Condensed", serif;
}


.planet-info>h1 {
    font-weight: 400;
    font-size: 100px;
    line-height: 114.6px;
    font-family: "Bellefair", serif;
}

.planet-info>p {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    font-family: "Barlow", serif;
    color: #D0D6F9;
}

.planet-pic {
    display: flex;
    flex-direction: column;
}

.planet-links>ul>li {
    text-align: start;
}

.planet-info>img {
    margin-top: 40px;
}

.planet-links{
    margin-bottom: 15px;
}

/* ----------------distance--------- */
.container {
    display: flex;
    /* justify-content: space-between; */
    /* border: 2px solid red; */
    margin-top: 25px;
    padding-top: 10px;
}


.distance>span {
    width: 97px;
    height: 17px;
    gap: 0px;
    opacity: 0px;
    color: #D0D6F9;
    font-family: "Barlow Condensed", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 2.362499952316284px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.distance>p {
    width: 143px;
    height: 32px;
    top: 29px;
    gap: 0px;
    opacity: 0px;
    color: #FFFFFF;
    font-family: "Bellefair", serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 32.09px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}


.time>span {
    width: 118px;
    height: 17px;
    gap: 0px;
    opacity: 0px;
    font-family: "Barlow Condensed", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 2.362499952316284px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #D0D6F9;
}

.time>p {
    width: 91px;
    height: 32px;
    top: 29px;
    gap: 0px;
    opacity: 0px;
    font-family: "Bellefair", serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32.09px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.distance {
    width: 50%;
}

.time {
    width: 50%;
}