* {
    margin: 0;
    padding: 0;
}

/* -----------home----------- */
.home {
    width: 100%;
    height: 100vh;
    background-image: url(/images/Main-space.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* -----------home----------- */



/* -----------navbar---------- */
nav {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}

nav>.img1 {
    margin-left: 15px;
}

nav>.img2 {
    height: 1px;
    width: 40%;
    z-index: 3;
    margin-left: 96px;
    position: absolute;
    z-index: 5;
    background: #FFFFFF;
    opacity: 0.25px;
    gap: 0px;
}

.nav-links ul {
    display: flex;
}

.nav-links ul li {
    list-style: none;
    padding: 8px 12px;
}

.nav-links>ul>li>a>span{
    font-weight: 700;
    padding: 5px;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-family: "Barlow Condensed", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    letter-spacing: 2.700000047683716px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.nav-links {
    background: #FFFFFF0A;
    backdrop-filter: blur(81.54845428466797px);
    padding: 20px 200px;
}


/* -----------navbar---------- */



/* --------------content------------ */
.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 12.5rem;
}

/* --------------content------------ */



/* ---------content>left---------- */
.left {
    color: #fff;
}

.left>.p1 {
    left: 0.5px;
    gap: 0px;
    opacity: 0px;
    font-family: Barlow Condensed;
    font-size: 22px;
    font-weight: 400;
    line-height: 33.6px;
    letter-spacing: 4.724999904632568px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #D0D6F9;
    font-family: "Barlow Condensed", serif;
}

.left>h3 {
    font-family: Bellefair;
    font-size: 150px;
    font-weight: 400;
    line-height: 171.9px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    font-family: "Bellefair", serif;
}

.left>.p2 {
    font-family: Barlow;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #D0D6F9;
    font-family: "Barlow", serif;
}

/* ---------content>left---------- */



/* ---------content>right---------- */
.right {
    position: relative;
}


.right>.image {
    width: 274px;
    height: 274px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right>.image>p {
    /* font-family: Bellefair; */
    font-size: 32px;
    font-weight: 400;
    line-height: 36.67px;
    letter-spacing: 2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    font-family: "Bellefair", serif;
}

/* ---------content>right---------- */